<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/edit-map.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" href="/images/wikimap-icon.png" type="image/x-icon">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/edit_map_interface.js"></script>
  <script type="text/javascript" src="/scripts/markers_client.js"></script>
  <title>Edit WikiMap</title>
</head>

<body>

  <div id="profile-container">
    <!-- top navbar -->
    <header id="top-nav">
      <form method="GET" action="/profile/1">
        <input type="image" src="/images/WikiMap-logos-white.png" class="top-logo"/>
      </form>
      <button class="top-btn">Create Pin 📍</button>
    </header>

    <main id="main-content">
      <div class="marker-container">
          <div class="marker-list-container">
             <!-- map title & rating -->
            <div class="list-title">
              <form method="POST" action="/maps/<%= map.map_id %>/edit">
                <label for="map_title"><strong>Edit:</strong>&nbsp Map Title</label>
                <br>
                <br>
                <input type="text" name ="map_title" required="required">
                <br>
                <br>
                <label for="map_category">Category</label>
                <br>
                <br>
                <input type="text" name ="map_category" required="required">
                <br>
                <br>
                <label for="map_description">Description</label>
                <br>
                <br>
                <textarea type="text" name="map_description" required="required"></textarea>
                <br>
                <br>
                <button class="new-btn" type="submit">Edit</button>
              </form>
            </div>
            <!-- list of markers -->
            <div class="list">


              <h2><%= map.map_title %></h2>
              <ul>
              <div class="markers-container">



              </div>
            </ul>
            </div>
          </div>

           <!-- new marker form -->
          <div class="new-marker">
            <form action="/markers/<%= map.map_id %>/new" method="POST" id="new-marker">
              <label for="marker_title"><strong>New</strong>&nbsp Pin Title </label>
              <br>
              <br>
              <input type="text" name="marker_title" required="required">
              <br>
              <br>
              <label for="image_url">Image URL</label>
              <br>
              <br>
              <input type="url" name="image_url" required="required">
              <br>
              <br>
              <label for="description">Description:</label>
              <br>
              <br>
              <textarea type="text" name="description" required="required"></textarea>
              <br>
              <br>
              <div class="latlong">
                <input type="text" name="marker_latitude" id="lat">
                <input type="text" name="marker_longitude" id="long">
              </div>
              <br>
              <button class="new-btn" type="submit">Add Pin</button>
            </form>
          </div>

          <!-- new marker form -->
          <div class="edit-marker" value="visible">
            <!-- need to change map.id -->
            <form action="/markers/<%= map.id %>/edit" method="POST" id="edit-marker">
              <label for="new-marker-title"><strong>Edit:</strong>&nbsp Pin Title </label>
              <br>
              <br>
              <input type="text" name="marker_title" class="new-marker-title" required="required">
              <br>
              <br>
              <label for="img-url">Image URL</label>
              <br>
              <br>
              <input type="url" name="image_url" class="img-url" required="required" value="<%  %>">
              <br>
              <br>
              <label for="marker_longitude">Longitude</label>
              <br>
              <br>
              <input type="text" name="marker_longitude" class="marker_longitude" required="required">
              <br>
              <br>
              <label for="marker_latitude">Latitude</label>
              <br>
              <br>
              <input type="text" name="marker_latitude" class="marker_latitude" required="required">
              <br>
              <br>
              <label for="description">Description</label>
              <br>
              <br>
              <textarea type="text" name="description" class="description" required="required"></textarea>
              <br>
              <br>
              <br>
              <input type="hidden" name="id" class="id" required="required" >
              <button class="new-btn" type="submit">Edit Pin</button>
            </form>
          </div>




      </div>

      <!-- google map API-->
      <div class="map-container">
        <div id="map_canvas"></div>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
          src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.DB_GOOGLE_API%>&callback=initMap&libraries=&v=weekly"
          async>
        </script>
      </div>

    </main>
  </div>
</body>
</html>
