<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="icon" href="../images/wikimap-icon.png" type="image/x-icon">
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/interface.js"></script>
  <script type="text/javascript" src="/scripts/map_client.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>WikiMap</title>
</head>

<body>

  <!-- side toggle bar -->
  <span id="side-nav">
    <div class="nav-content">
      <!-- logo -->
      <span>
        <span>
          <img class="logo" src="/images/WikiMap-logos.png">
        </span>
        <div>
          <!-- submit button -->
          <form method="GET" action="/maps/new">
            <button class="side-btn" type="submit">New Map</button>
          </form>
        </div>
        <br>
        <br>
        <div>
          <!-- profile button -->
          <form method="GET" action="/profile/1">
            <button class="side-btn" type="submit">Profile</button>
          </form>
        </div>
      </span>
    </div>
  </span>

  <div id="profile-container">
    <!-- top navbar -->
    <header id="top-nav">
      <span class="expand">
        <i class="fa-solid fa-grip-lines"></i>
      </span>
      <div class="top-greeting">
        Welcome to <br> <strong><%<!--user.name-->%>Jim Halpert's</strong> map
      </div>
    </header>

    <main id="main-content">
      <div class="marker-container">
          <div class="marker-list-container">
             <!-- map title & rating -->
            <div class="list-left">
              <div>
                <header class="list-left-title"><strong><%= map.map_title %></strong><header>
              </div>
              <div>
                <div class="list-left-body"><%= map.map_description %></div>
              </div>
                <p><%= map.map_category %></p>
            </div>
            <!-- list of markers -->
            <div class="list">
              <!-- <ul>

              </ul> -->
            </div>
          </div>

        <!-- marker detail (title, descript, img) -->
        <div class="marker-content">
          <header class="marker-article"><strong>pin title</strong></header>
          <article>pin description... below should be marker image url</article>
          <br>
          <div class="marker-img">
            <img src="<%= map.map_image_url %>">
          </div>
        </div>
      </div>

      <!-- google map API-->
      <div class="map-container">
        <div id="map_canvas"></div>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
          src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.DB_GOOGLE_API%>&callback=initMap&libraries=&v=weekly"
          async>
        </script>
      </div>

    </main>
  </div>
</body>
</html>
